.processImageForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  align-items: center;

  padding: 10px 0px 10px 0px;
  
  button {
    margin: 20px;
  }
}
