.CardUploadedImage {
  margin-top: 35px;
  background-color: #9071f440;
  width: 35%;
  height: 300px;
  box-shadow: 5px 5px 18px 1px #7355bed9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}
